#set($viewingMyProfile = $personalInformationEntity.belongsTo($remoteUser))
<html>
	<head>
        <title>$generalUtil.htmlEncode($pageTitle)</title>
        #requireResource("confluence.web.resources:aui-forms")
        #requireResource("confluence.userstatus:userstatus-resources")
	</head>

#applyDecorator("root")
    #decoratorParam("context" "profile")
    #decoratorParam("mode" "edit-profile-three")
    #decoratorParam("helper" $action.helper)
    #decoratorParam("infopanel-width" "200px")
    <body>
        <div class="page-item profile-main">
            #if($action.userStatusPluginEnabled && $action.currentStatus)
                <div class="profile-section">
                    <div class="status-block #if($viewingMyProfile) current-user-latest-status#end">
                        <span class="status-text">$statusTextRenderer.render($action.currentStatus.status)</span>
                        <div class="status-actions">
                        <ul>
                            <li><a id="view-$action.currentStatus.id" href="$req.contextPath$action.currentStatus.urlPath" title="$action.dateFormatter.formatDateTime($action.currentStatus.lastModificationDate)">$action.formatFriendlyDate($action.currentStatus.lastModificationDate)</a></li>
                            #if($viewingMyProfile)<li><a id="clear-$action.currentStatus.id" href="$req.contextPath$action.currentStatus.clearPath&#url_xsrfToken()">$action.getText("clear.name")</a></li>#end
                        </ul>
                        </div>
                    </div>
                </div>
            #end

            #if($hasAboutMe)
                <div class="profile-section" id="profile-about-me">
                    <form class="aui">## so the header gets the aui form styles.
                        <h2>$action.getText("personal.info")</h2>
                    </form>
                    <div id="profile-about-me-content">$renderedAboutMe</div>
                </div>
            #end

            <div class="profile-section" id="profile-status-list">
                <form class="aui">## so the header gets the aui form styles.
                    <h2>$action.getText("activity.name")</h2>
                </form>
                $helper.renderConfluenceMacro("{recently-updated:author=$action.user.name|max=10|theme=sidebar|spaces=*|hideHeading=true}")
            </div>

            #webPanelForLocation("atl.confluence.userprofile" $action.context)
        </div> ## profile-main

        <div class="page-item profile-info section-3">

            #if($viewingMyProfile)
                <form class="aui">
                    <div class="content-navigation">
                        <ul class="ajs-menu-bar">
                            <li class="ajs-button normal">
                                <a href="$req.contextPath/users/editmyprofile.action" class="edit-link edit ajs-button"><span>$action.getText("edit.profile")</span></a>
                            </li>
                        </ul>
                        <br class="clear">
                    </div>
                </form>
            #end

            #webPanelForLocation("atl.confluence.userprofile.info.advanced" $action.context)
        </div> ## profile-info
    </body>
#end ## applyDecorator root
</html>