#* @vtlvariable name="groups" type="java.util.List<org.echocat.adam.profile.Group>" *#
#* @vtlvariable name="groupRenderer" type="org.echocat.adam.profile.GroupRenderer" *#
#* @vtlvariable name="elementRenderer" type="org.echocat.adam.profile.element.ElementRenderer" *#
#requireResource("org.echocat.adam:userProfileResources")
<div class="adam-profile-marco profile-marco profile-hover">
    <div class="vcard">
        #userLogoBlock($user)
    </div>
    <div class="aui profile-elements">
        <table>
            <tbody>
                #foreach($group in $groups)
                    #if ($groupRenderer.isRenderOfOverviewAllowedFor($group, $currentUser, $profile))
                        #foreach($elementModel in $group)
                            #if ($elementRenderer.isRenderOfOverviewAllowedFor($elementModel, $currentUser, $profile))
                                #set($title = $localizationHelper.getTitleFor($elementModel, $locale))
                                #set($value = $elementRenderer.renderViewXhtml($elementModel, $currentUser, $profile))
                                #set($nodeId = $elementRenderer.nodeIdFor($elementModel, $profile))
                                <tr class="profile-element field-group viewMode">
                                    <td class="profile-element-label-cell"><label id="labelFor-${nodeId}">${elementRenderer.plainToXhtml($elementModel, $title)}</label></td>
                                    <td class="profile-element-label-value">
                                        #set($isLink = false)
                                        #if ($elementModel.id == "fullName")
                                            #set($isLink = true)
                                            <a href="$!{req.contextPath}/display/~${generalUtil.escapeForHtmlAttribute($user.name)}">
                                        #end

                                        ${value}

                                        #if ($isLink)
                                            </a>
                                        #end
                                    </td>
                                </tr>
                            #end
                        #end
                    #end
                #end
            </tbody>
        </table>
    </div>
</div>