#* @vtlvariable name="groups" type="java.util.List<org.echocat.adam.profile.Group>" *#
#* @vtlvariable name="groupRenderer" type="org.echocat.adam.profile.GroupRenderer" *#
#requireResource("org.echocat.adam:userProfileResources")
<form class="aui profile-marco profile-elementsOnly">
    #foreach($group in $groups)
        #if ($groupRenderer.isRenderOfViewAllowedFor($group, $currentUser, $profile))
            <h2 class="profile-group">${localizationHelper.getTitleFor($group, $locale)}</h2>
            <fieldset>
                #foreach($elementModel in $group)
                    #if ($elementRenderer.isRenderOfViewAllowedFor($elementModel, $currentUser, $profile))
                        #set($title = $localizationHelper.getTitleFor($elementModel, $locale))
                        #set($value = $elementRenderer.renderViewXhtml($elementModel, $currentUser, $profile))
                        #set($nodeId = $elementRenderer.nodeIdFor($elementModel, $profile))
                        <div class="profile-element field-group viewMode">
                            <label id="labelFor-${nodeId}" for="${nodeId}">${elementRenderer.plainToXhtml($elementModel, $title)}</label>
                            ${value}
                        </div>
                    #end
                #end
            </fieldset>
        #end
    #end
</form>
